<template>
  <div class="survey flex col">
    <custom-progress :steps="pages.length" :current="index + 1" />
    <!-- cache the component state when it is saved -->
    <keep-alive>
      <component :is="page" />
    </keep-alive>
    <div class="controls">
      <button @click="prevPage" :disabled="!index">back</button>
      <button v-if="index < pages.length - 1" @click="nextPage">next</button>
      <button v-else class="submit" @click="submit">submit</button>
    </div>
  </div>
</template>

<script>
import Progress from "@/components/Progress";
import { components as pageComponents } from "./pages";

// The set of survey pages, in order that they will be shown.
//
// prettier-ignore
const ORDERED_PAGES = [
  "issue", "location", "time", "photo", "comment", "summary",
];

export default {
  data: () => ({ index: 0, pages: ORDERED_PAGES }),
  methods: {
    nextPage() {
      if (this.index < this.pages.length - 1) this.index++;
    },
    prevPage() {
      if (this.index) this.index--;
    },
    submit() {
      alert("unimplemented: submit survey");
    },
  },
  computed: {
    page() {
      return `${this.pages[this.index]}-page`;
    },
  },
  components: {
    "custom-progress": Progress,
    ...pageComponents,
  },
};
</script>

<style lang="scss" scoped>
.survey {
  background-color: rgb(224, 224, 224);

  .progress {
    align-self: stretch;
  }
}
</style>
