<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import "@/styles/fonts.scss";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  // Fonts config.
  font-family: $body;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
  font-size: 13pt;
}

// prettier-ignore
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $header;
}

// prettier-ignore
.flex { display: flex; }
// prettier-ignore
.col { flex-direction: column; }
</style>
